@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,900&display=swap');

:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body{
    margin: 0px;
    background-color: #e3f2fd ;
   }

nav{
    width: 100%;
}

#sspan{
color: #0EAFF2;
}

/* login registration */

#loginBtn{
    border-color: #0EAFF2;
    background: white;
    color: var(--black);
}

#loginBtn:hover{
    background: #0EAFF2;
    color: #0EAFF2;
    color: white;
}

#RegisterBtn{
    border-color: #0EAFF2;
    background: white;
    color: var(--black);
    margin-left: 0.5rem;
}

#RegisterBtn:hover{
    background: #0EAFF2;
    color: #0EAFF2;
    color: white;
}



/* home  */

.homeheading{
    text-align: center;
    display: block;
}

#headingBanner{
    width: 100%;
    height: 30rem;
}

#explore{
    text-align: center;
    font-size: 2rem;
    display: block;
}

.row{
    margin: 2rem 0 2rem 0;
}

/* product display */
.hName{
    font-size: 2rem;
    padding-bottom: 0; margin: 0;
}

.product{
    width: 20rem;
    height: 20rem;
    display: block;
    padding: 1rem;
    padding-top: 0;
}

.price{
    margin-right: 30%;
    display: inline-block;
}

.buy{
    display: inline;
}


    /* login section */

.logindiv{
    margin: auto;
  width: 50%;
  padding: 10px;
  border: #0EAFF2;
  border-style: solid;
  border-width: 5px;
}

#loginimg{
    margin-left: 40%;
    width: 20%;
    height: 20%;
}

.loginsmt{
    margin-top: 1rem;
    display: inline-block;
}

#regiimg{
    width: 20%;
    height: 2%;
}

    /* footer  */
footer{
    width: 100%;
    background-color: #0EAFF2;
    
}
footer p{
   margin: 0;
   text-align: center;
   color: #fff;
   line-height: 2.5rem;
   font-size: 1rem;
}

/* logout page */
.thnxvisit{
    margin-left: auto;
    font-size: medium;
    text-align: center;

}